<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>exit4web.crypt</string>
	<key>connections</key>
	<dict>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Bigon</string>
	<key>description</key>
	<string>Crypt and decrypt text utils</string>
	<key>name</key>
	<string>Crypt Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>crc32</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "crc32 {query}"</string>
				<key>subtext</key>
				<string>Calculate the Crc32 hash of a string</string>
				<key>title</key>
				<string>Crc32</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26A118CF-EFF8-437C-8AE9-A1740F37D31C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>htpasswd</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "htpasswd {query}"</string>
				<key>subtext</key>
				<string>Encode a string in the Apache password format</string>
				<key>title</key>
				<string>HtPasswd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "md5 {query}"</string>
				<key>subtext</key>
				<string>Calculate the MD5 hash of a string</string>
				<key>title</key>
				<string>MD5</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64decode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_decode {query}"</string>
				<key>subtext</key>
				<string>Decode a base64 string</string>
				<key>title</key>
				<string>Base64 Decode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5F00437-7542-4215-B000-E1E2E64E9E40</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64encode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_encode {query}"</string>
				<key>subtext</key>
				<string>Encode a string in base64</string>
				<key>title</key>
				<string>Base64 Encode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEBD3954-0A88-480C-908B-72E31EC12D45</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sha1</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php "sha1 {query}"</string>
				<key>subtext</key>
				<string>Calculate the SHA1 hash of a string</string>
				<key>title</key>
				<string>SHA1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>whirlpool</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "whirlpool {query}"</string>
				<key>subtext</key>
				<string>Calculate the Whirlpool hash of a string</string>
				<key>title</key>
				<string>Whirlpool</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22DEF110-D260-45F8-B25F-9FDA35C620EB</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/BigLuck/alfred2-crypt</string>
</dict>
</plist>
